# We'll use defaults from the LLVM style, but with 4 columns indentation.

BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4

AllowShortFunctionsOnASingleLine: Inline
AlignTrailingComments: true
AlignConsecutiveMacros: true

AlignOperands: true
PointerAlignment: Left

Cpp11BracedListStyle: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpacesInAngles: false
Standard: c++20

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AlignConsecutiveAssignments:
    AcrossEmptyLines: true
    AcrossComments: true

ColumnLimit: 120